<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="utf-8"/> 
    <title>Hello World!</title> 
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" />
  </head> 
  <body> 
    <h1><b>Snabb pasta med lax och spenat<b></h1> 
	<p> 4 portioner, 15 min<p>
	<p> Med färsk pasta, kallrökt lax, spenat och creme fraiche rör du ihop denna läckra pastarätt på en kvart. Snabbmat när den är som bäst!</p>
    <h2>Ingredienser</h2>
    <table>
	
	<tr>
	   <th>Mängd</th>
	   <th>Ingredienser</th>
	   <th>Anvisning</th>
	</tr>
	<tr>
	   <td>500g</td>
	   <td>färsk pasta</td>
	   <td>gärna bandpasta</td>
	</tr>
	<tr>
	   <td>400g</td>
	   <td>fryst bladspenat</td>
	   <td>tinad</td>
	</tr>
	<tr>
	   <td>1/2 msk</td>
	   <td>smör</td>
	</tr>
	<tr>
	   <td>1</td>
	   <td>vitlöksklyfta</td>
	</tr>
	<tr>
	   <td>1</td>
	   <td>vitlöksklyfta</td>
	</tr>

    </table>
    <h2>Gör så här</h2>
      <p>1. Koka pastan enligt anvisning på förpackningen.</p>
      <p>2. Hacka spenaten grovt och stek den i smör. Pressa över vitlöken, salta och peppra. Blanda ner creme fraiche.</p>
      <p>3. Skär laxen i småbitar och blanda spenat, lax och tomater i pastan.</p>
    <h3>Smaklig måltid!</h3>
		
	
	

    <p> 
      <a href="/">Back to main</a>
    <p> 
  </body> 
</html> 